<div class="row">
  <div class="col-xl-12">
      <h2 class="card-title">{{ comic.title }}</h2>
      <blockquote>{{comic.description}}</blockquote>
  </div>
</div>
<div class="row" id="thumbnails">
  {% for part in comic.parts %}
      <div class="card card-inverse col-lg-12">
        <div class="card-block">
          <h3 class="card-title">{{part.title}}</h3>
        </div>
      </div>
      {% for panel in part.panels %}
          <div class="card col-lg-6">
              <img src="{{panel}}" />
          </div>
      {% endfor %}
  {% endfor %}
</div>
