<div class="col-xs-12"  id="{{id}}">
  <div class="row">
    <div class="col-xs-7">
        <h1>#cybernet links</h1>
        <div id="pocket_articles">
          {% for article in pocket_articles %}
          <div class="row pocket-article">
            <div class="col-xs-12">
              <h5>{{article.resolved_title|raw}}</h5>
              <!-- <pre>{{article|print_r}}</pre> -->
              {% if article.image.src %}
                <div class="col-xs-12 img-article">
                  <img src="{{article.image.src}}" />
                </div>
              {% endif %}
              <div class="col-xs-12 img-article">
                <blockquote>{{article.excerpt|raw}} ...</blockquote>
                <div class="row">
                  <a href="{{article.resolved_url}}" target="_blank" class="btn btn-info btn-sm pull-right" title="View"><i class="fa fa-external-link"></i> {{article.resolved_url|url_hostname}}</a>
                </div>
                <br />
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="col-xs-5 contact-info">
        <h1>#contact</h1>
        <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-map"></i>
            </div>
            <div class="col-xs-10">
              I'm located in NYC, here's how you can find me:
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-phone"></i>
            </div>
            <div class="col-xs-10">
              415.786.8815
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-xs-10">
              rishi.satsangi@gmail.com
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-instagram"></i>
            </div>
            <div class="col-xs-10">
              @dethbird
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
              <i class="fa fa-twitter"></i>
            </div>
            <div class="col-xs-10">
              @dethbird
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
              Let's do business.
            </div>
        </div>
    </div>
  </div>
</div>
