<div id="{{id}}" class="gallery-container">
  <div class="row col-xs-12 gallery-controls">
    <div class="pull-right">
      <i class="fa fa-caret-left fa-5 prev" aria-hidden="true"></i>
      <i class="fa fa-caret-right fa-5 next" aria-hidden="true"></i>
      <i class="fa fa-times fa-5 close" aria-hidden="true"></i>
    </div>
  </div>
{% for object in gallery %}
  <div class="row gallery-slide" id="{{id}}{{loop.index}}">
    <div class="col-xl-12 gallery-object">
        {% if object.type == "image" %}
          <img src="{{object.content}}" class="{{object.orientation}}"/>
        {% elseif object.type == "embed" %}
          {{object.content|raw}}
        {% endif %}
        <div class="caption">{{object.title|raw}}</div>
    </div>
  </div>
{% endfor %}
</div>
