<div id="{{object.container.id}}" class="gallery-container">
  <div class="row col-xs-12 gallery-controls">
    <div class="pull-right">
      <i class="fa fa-caret-left fa-5 prev" aria-hidden="true"></i>
      <i class="fa fa-caret-right fa-5 next" aria-hidden="true"></i>
      <i class="fa fa-times fa-5 close" aria-hidden="true"></i>
    </div>
  </div>
{% for comic in comics %}
  <div class="row gallery-slide" id="{{object.container.id}}{{loop.index}}">
    <div class="gallery-object gallery-comic-object">
        <!-- include the view script for the comic id -->
        {% include "partials/comics/#{comic.id}.twig.html" with {'comic': comic} %}
    </div>
  </div>
{% endfor %}
</div>
