<div class="col-xs-12"  id="{{id}}">
  <div class="row">
    <div class="col-xs-6">
        <h1>#cartoons</h1>
        <ul>
          <li>Character design</li>
          <li>Narrative writing for animation</li>
          <li>Storyboarding / pacing</li>
          <li>Timing to music</li>
          <li>Keyframing</li>
        </ul>
        <p>I am interested in producing creative projects with YOU. If you're like me, then cartoons are everything. You ever leave a fight and not do anything? But as you walk away you imagine an anvil or piano smashing their faces? That's how my mind works! Like a cartoon! And I want to work with YOU.</p>
        <p>Let's do business.</p>
    </div>
    <div class="col-xs-6">
        <h1>#technology</h1>
        <ul>
          <li>LAMP Stack PHP/MySQL/Apache</li>
          <li>API design using RAML (open sourced)</li>
          <li>Backend: Symfony/Doctrine, Zend, Slim/ActiveRecord</li>
          <li>Frontend: jQuery/Backbone/Angular/Greensock/React</li>
          <li>AWS: EC2, SWF, Redshift, DynamoDb</li>
          <li>Python, Node</li>
          <li>Responsive web design</li>
        </ul>
        <p>I made this god damn <a href="https://github.com/dethbird/rishisatsangi.com" target="_blank">website</a>. I work fulltime as a senior web engineer, but I enjoy helping the people out with my cyberwebbing and create-o skills. I have worked with non-profits, artists, musicians, educational organizations, and others, in the service of freelance web design and development.</p>
        <p>Let's do business.</p>
    </div>
  </div>
</div>
